/*
 * 清除浮动
 * [那些年我们一起清除过的浮动](http://www.iyunlu.com/view/css-xhtml/55.html)
 * [clearfix改良及overflow:hidden详解](http://www.iyunlu.com/view/css-xhtml/56.html)
 * https://css-tricks.com/snippets/html/
 */

/* Method 1: using an empty element */
.clear {
  clear: both;
}

/* Method 2: using the overflow property */
.clearfix {
  overflow: auto;
  zoom: 1; /* IE 6/7 */
}

/* Method 3-1: using the CSS pseudo-elements */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* Method 3-2 */
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/* Method 3-3 */
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
  zoom: 1;
}

/* Method 4: or just need to support IE 8 and up */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
